.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  /* border: 1px solid blue; */
  height: 100vh;
}

.mainLeft{
  width: 500px;
  /* border: 1px solid red; */
  margin: -140px auto 0 auto;
  /* padding-left: 4%; */
}
.loginContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.mainLeftText > p {
  font-size: 26px;
  font-weight: 500;
}

.loginHeading{
  text-align: center;
  margin: 10px auto 20px auto;
  width: 100%;
  font-size: 20px;
}
.logoLeftLogo{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logoLeftImage{
  height: 106px;
  margin: 0 auto;
  width: 100%;
}

.signupHeading{
  margin-bottom: 16px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nameContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.mainRightPara{
  /* border: 1px solid purple; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}
.mainRightPara > p, .mainRightPara > h4{
  font-size: 14px;
}
.mainRightPara > p{
  margin-left: 4px;
}

.mainRight{
  width: 500px;
  /* border: 1px solid rgb(0, 255, 21); */
}

.mainLeftImage{
  height: 106px;
  margin-left: -28px;
}

.formContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  width: 396px;
  margin: 0 auto;
  padding: 14px;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}

.input{
  margin-bottom: 12px;
  /* height: 50px; */
  width: 100%;
  outline: none;
  border-radius: 6px;
  border: 1px solid #dddfe2;
  padding: 16px 12px;
  font-size: 16px;
}

.signupInputs{
  width: 100%;
  outline: none;
  border-radius: 6px;
  border: 1px solid #dddfe2;
  padding: 12px 12px;
  font-size: 14px;
  margin: 0 20px 12px 20px;
}

.inValidInput{
  margin-bottom: 12px;
  /* height: 50px; */
  width: 100%;
  outline: none;
  border-radius: 6px;
  border: 1px solid #ff0000;
  padding: 16px 12px;
  font-size: 16px;
}

.dobContainer{
  width: 100%;
  margin: 0 auto;
}
.signUpBirthday{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 8px;
}
.signUpBirthday > p{
  font-size: 12px;
}
.genderSignup{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid gray;
  border-radius: 6px;
  padding: 8px;
  width: 100%;
}
.genderSignup > label{
  font-size: 14px;
}
.signupPara{
  font-size: 12px;
  margin: 8px;
  width: 100%;
}
.genderSignupOptionContainer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icon{
  border: 1px solid gray;
  padding: 2px;
  color: white;
  border-radius: 12px;
  background-color: gray;
  font-size: 10px;
}
.dobOptionContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.input::placeholder{
  color: #949494;
}

.loginButton{
  background-color: #1877f2;
  border-radius: 6px;
  padding: 12px;
  border: none;
  width: 100%;
  font-size: 20px;
  color: white;
  font-weight: 500;
  margin-top: 8px;
  cursor: pointer;
}

.createAccountbutton{
  background-color: #42b72a;
  border-radius: 6px;
  padding: 12px;
  border: none;
  width: 60%;
  font-size: 20px;
  color: white;
  font-weight: 500;
  margin: 20px auto 10px auto;
  cursor: pointer;
}

.forgotPasswordPara{
  margin-top: 16px;
  margin-bottom: 2px;
  color: #1877f2;
  font-size: 14px;
}
.lineBreak{
  width: 100%;
  margin-top: 18px;
  border:1px solid #dfdfdf;
}

.errorLink, .error{
  color: red;
  font-size: 12px;
  margin-bottom: 8px;
}
.errorLink:hover{
  text-decoration: underline;
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  .main{
    display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }
  .mainLeft{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    width: 400px;
    margin-bottom: 20px;
  }
  .mainLeftText > p {
    font-size: 22px;
    text-align: center;
  }
  .mainLeftImage{
    height: 106px;
    margin-left: 0px;
  }
}
